// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// general, override when needed
label.grayout.active {
    color: lightgrey;
}

// BODY
.inner-wrapper {
    display: table;
    min-height: 100vh;
    padding-top: 0 !important;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
}

.top-header .header-right {
    float: right;
    margin: 0 2rem 0 0;
    height: 40px;
}

// TOP HEADER
.top-header {
    margin-top: 0;
    line-height: 40px;
    width: 100%;
    vertical-align: middle;
    display: inline-block;
    background-color: $top-header-background;
    border-top: solid 2px $top-header-border-top;
}

.top-header .header-right {
    float: right;
    margin: 0 1rem 0 0;
}

.top-header .navbar {
    margin-top: 0;
    padding-top: 0.25rem;
}

.top-header .user-menu .nav-link {
    font-size: 1.3rem;
    line-height: 1.4rem;
}

.top-header .user-menu {
    display: flex;
}

.top-header .user-menu .nav-link span {
    font-size: 1rem;
    line-height: 1.2rem;
}

.top-header .user-menu .dropdown-menu li {
    font-size: 1.25rem;
}

.top-header .user-menu .dropdown-menu li :hover {
    background-color: $top-header-user-menu-dropdown-menu-li-hover;
}

.top-header .user-menu .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.85em;
    vertical-align: middle;
    border-top: 0.5em solid;
    border-right: 0.5em solid transparent;
    border-bottom: 0.1em;
    border-left: 0.5em solid transparent;
}

.top-header .logo {
    font-family: 'Anton', sans-serif;
    float: left;
}

.top-header .logo li.nav-item {
    list-style: none;
}

.top-header .logo li.nav-item a {
    color: $top-header-logo-text;
}

.top-header .logo li.nav-item a:hover {
    color: $top-header-logo-text-hover;
}

.b-nav-dropdown ul {
    list-style: none;
}


// PAGE HEADER
.page-header {
    background: $bg;
    border-bottom: none;
    border-left: 1px solid $border;
    box-shadow: 1px 3px 0 1px $border-shadow;
    margin: -40px -40px 30px -40px;
    padding: 0;
    height: 50px;
}

// NAVBAR RIGHT
.navbar-right-control {
    cursor: pointer;
}

// NAVBAR LEFT
.navbar-left-control {
    cursor: pointer;
}

.navbar-left.max {
    transition: width .25s;
}

.navbar-left.min {
    width: 75px;
    transition: width .25s;
}

.navbar-left.max .submenu-items{
    margin-left: 4rem;
}

.navbar-left.min .nav-link span {
    display: none;
}

.navbar-left {
    background: $bg;
    display: table-cell;
    position: relative;
    vertical-align: top;
    z-index: 1010;
}

.navbar-left .navbar-left-header {
    position: relative;
    color: $navbar-link;
    height: 50px;
    text-align: right;
    padding: 7px 22px;
}

.navbar-left .menu-control-button {
    font-size: 3rem;
}

.navbar-left .navbar-left-header:hover {
    color: $navbar-link-hover;
}

.navbar-left .nav-item a, .navbar-left .submenu-toggle {
   color: $navbar-link;
}

.navbar-left .nav-item a:hover, .navbar-left .submenu-toggle:hover {
    color: $navbar-link-hover;
}

.navbar-left .nav-item .active {
    color: $navbar-link-active;
}

.navbar-left.min a.nav-link span, .navbar-left.min .submenu-toggle span {
    display: none;
}

.navbar-left-header .title {
    font-size: 2rem;
    margin: 1rem 0 0 0;
    color: #E9ECF2;
}

.min .navbar-left-header .title {
    display: none;
}

// PAGE HEADER
.page-header {
    background: $page-header-background !important;
    box-shadow: 1px 3px 0 1px rgba($page-header-box-shadow, 1);
    margin: 0;
    padding: 0 2rem 0;
    vertical-align: middle;
    line-height: 50px;
}

.page-header h2 {
    border-bottom-color: $page-header-page-name !important;
}

.page-header .menu-control-button {
    cursor: pointer;
    font-size: 2rem;
    padding: 0 0 0 1rem;
    color: $navbar-link;
}

.page-header .menu-control-button:hover {
    color: $navbar-link-hover;
}

.page-header .pull-right {
    float: right;
    display: flex;
}

.page-header .breadcrumb {
    margin-bottom: 0;
    padding: 0 0.5rem 0;
    background-color: transparent;
}

.page-header .breadcrumb li {
    font-size: 1.8rem;
}

.page-header .breadcrumb li a {
    color: $navbar-link;
    text-decoration: none;
}

.page-header .breadcrumb li.active a {
    color: $navbar-link-active;
}

.page-header .breadcrumb li a:hover {
    color: $navbar-link-hover;
}

.content-center {
    display: inline-block;
    padding: 0;
    width: 100%;
}

.main-page {
    margin-top: 1.5rem;
}

.inner-wrapper {
    display: table !important;
    min-height: 100vh;
    padding-top: 60px;
    table-layout: fixed;
    overflow: hidden;
    width: 100%;
    min-height: 100vh !important;
}

// modals
.login-modal-backdrop {
    opacity: 1 !important;
    background-color: $modal-backdrop !important;
}

// bootstrap style extras
.mr-30 {
    margin-right: 30rem !important;
}

// Small devices (mobiles, up to 425px)
@media (max-width: 425px) { 
    
    .menu-control-button.sm {
        display: inline-block;
    }

    .navbar-left#fullwidth {
        display: none;
    }

    .navbar-left-header .title {
        font-size: 1.4rem;
        margin: 0.7rem 0 0 0;
    }

    .navbar-left#fullwidth .navbar {
        font-size: 1.1rem;
    }

    .navbar-left .menu-control-button {
        font-size: 1.5rem;
        margin-left: -0.8rem;
    }

    .navbar-left.min {
        width: 50px;
    }

    .b-icon.bi {
        font-size: 2rem;
        width: 3rem;
    }
    
    .top-header .logo {
        font-size: 1.6rem;
    }

    .top-header .header-right .form-inline.max {
        float: left;
    }

    .navbar-left.max {
        width: 225px;
    }

    .header-right .input-group.search, .header-right .alerts {
        display: none;
    }

    .page-header h2 {
        display: none;
    }
}

@media (min-width: 426px) { 
    
    .menu-control-button.sm {
        display: inline-block;
    }

    .navbar-left#fullwidth {
        display: none;
    }

    .navbar-left#fullwidth .navbar {
        font-size: 1.2rem;
    }

    .navbar-left .menu-control-button {
        font-size: 2rem;
        margin-left: -0.8rem;
    }

    .navbar-left-header .title {
        font-size: 1.5rem;
        margin: 0.8rem 0 0 0;
    }
    
    .b-icon.bi {
        font-size: 2.2rem;
        width: 3.2rem;
    }

    .top-header .logo {
        font-size: 1.4rem;
        letter-spacing: -1px;
        margin-top: 2px;
    }

    .top-header .header-right .form-inline.max {
        float: left;
    }

    .navbar-left.max {
        width: 200px;
    }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

    .menu-control-button.sm {
        display: none;
    }

    .top-header .logo {
        font-size: 2.5rem;
    }

    .top-header .header-right .form-inline.max {
        float: left;
    }

    .navbar-left.max {
        width: 250px;
    }

    .b-icon.bi {
        font-size: 2.2rem;
        width: 5rem;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .top-header .logo {
        font-size: 3rem;
    }

    .top-header .header-right .form-inline.max {
        float: right;
        margin: 0.7rem 3.5rem 0 0;
    }

    .navbar-left.max {
        width: 275px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .top-header .user-menu.max {
        display: inherit;
    }

    .top-header .header-right .form-inline.max {
        margin: 0rem 3.5rem 0 0;
    }
}



